<h1>Update your details here</h1>

<% unless @customer.errors.full_messages.empty? %>
    <% @customer.errors.full_messages.each do |e| %>
        <p>
          <%= e %>
        </p>
    <% end %>
<% end %>

<%= form_for(@customer) do |f| %>
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, required: true, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, required: true, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label "Tax file number" %>
      <%= f.text_field :tfn, required: true, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, required: true, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, required: true, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control"%>
    </div>
    <%= f.submit("Update Details", class: "btn btn-lg btn-success")%>
<% end %>