<div class="row">

    <%= render :partial => "./layouts/customer-controls"%>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header"><%= @customer.first_name%> <%= @customer.last_name %></h1>
        <p><b>Tax file number:</b> <%= @customer.tfn %></p>
        <p><b>Phone Number:</b> <%= @customer.phone_number %></p>
        <p><b>Customer Number:</b> <%= @customer.customer_number %></p>
        <p><b>Email:</b> <%= @customer.email %></p>
    </div>
</div>








