<h1><%= @customer.first_name%> <%= @customer.last_name %></h1>

<p><b>Tax file number:</b> <%= @customer.tfn %></p>
<p><b>Phone Number:</b> <%= @customer.phone_number %></p>
<p><b>Customer Number:</b> <%= @customer.customer_number %></p>
<p><b>Email:</b> <%= @customer.email %></p>

<%= link_to("Update Details", edit_customer_path(@current_user), class: "btn btn-default") %>
<%= link_to("Manage Accounts", customer_accounts_path(@current_user), class: "btn btn-default") %>
<%= link_to("Make Transaction", new_customer_transaction_path(@current_user), class: "btn btn-default") %>
<%= link_to("View All Transactions", customer_transactions_path(@current_user), class: "btn btn-default") %>

<p class="text-success"><%= flash[:transaction_outcome] %></p>